<div class="row m-3">

  <div *ngFor="let book of books" class="col-md-4 col-lg-3 col-sm-1">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a [routerLink]="['/book', book.id]">{{ book.title }}</a>
        </h3>
      </div>
      <div class="panel-body text-center">
        <h6 class="card-subtitle mb-2 text-muted">{{ book.subTitle }}</h6>
        <div class="card-text">
          <span class="mr-1 badge badge-pill badge-default" *ngFor="let category of book.categories">
            {{ category }}
          </span>
        </div>
      </div>
      <img class="book-thumbnail"
           src="{{ book.smallThumbnail }}"
           alt="">
      <div class="panel-footer">
        <span>
          by
          <span *ngFor="let author of books.authors">
            {{ author }}
          </span>
        </span>
      </div>
    </div>
  </div>

</div>
