<div class="container">
  <div class="m-3 text-center">
    <form class="form-inline" (ngSubmit)= "doSearch()">
      <div class="form-group">
        <input type="search"
               class="form-control"
               placeholder="Enter search string"
               name="search"
               [(ngModel)]= "term"
               required>
      </div>
      <button type="submit"
              class="btn btn-primary">
        Search
      </button>
    </form>
    <hr />

    <div class="text-center">
      <!-- TODO: Show when we are calling the API -->
      <p class="lead" *ngIf= "googleBooksService.initialised && googleBooksService.loading">Loading...</p>

      <!-- TODO: Show when no results are returned from the API -->
      <p class="lead" *ngIf= "googleBooksService.initialised && !googleBooksService.loading && googleBooksService.books?.length===0">No results returned</p>

      <!-- TODO: Show when the user hasn't performed a search yet -->
      <p class="lead" *ngIf= "!googleBooksService.initialised">Enter a search string above and press search</p>
    </div>
  </div>

  <!-- TODO: Show the results of the search -->
  <app-book-list></app-book-list>

  <div class="d-flex justify-content-center">
    <!-- TODO: Show pagnation -->
    <app-pager>
    </app-pager>
  </div>
</div>
